:root {
  --header-font-weight: bold;
  --header-font-size: 18px;
  --header-line-height: 25px;

  --h1-desktop-font-weight: 400;
  --h1-desktop-font-size: 28px;
  --h1-desktop-line-height: 36px;

  --h2-desktop-font-weight: 400;
  --h2-desktop-font-size: 32px;
  --h2-desktop-line-height: 36px;

  --h3-desktop-font-weight: 400;
  --h3-desktop-font-size: 24px;
  --h3-desktop-line-height: 32px;

  --p1-desktop-font-weight: 400;
  --p1-desktop-font-size: 18px;
  --p1-desktop-line-height: 24px;

  --p2-desktop-font-weight: 400;
  --p2-desktop-font-size: 16px;
  --p2-desktop-line-height: 20px;


  --data-blue-color: #092433;
}

body {
  font-family: Manrope,Roboto,sans-serif;
  color: var(--data-blue-color);
}

.container {
  padding-left: 64px;
  padding-right: 64px;
  max-width: 1440px;
  margin: auto;
}

.h1-desktop {
  font-size: var(--h1-desktop-font-size);
  font-weight: var(--h1-desktop-font-weight);
  line-height: var(--h1-desktop-line-height);
}

.h2-desktop {
  font-size: var(--h2-desktop-font-size);
  font-weight: var(--h2-desktop-font-weight);
  line-height: var(--h2-desktop-line-height);
}

.h3-desktop {
  font-size: var(--h3-desktop-font-size);
  font-weight: var(--h3-desktop-font-weight);
  line-height: var(--h3-desktop-line-height);
}

.p1-desktop {
  font-size: var(--p1-desktop-font-size);
  font-weight: var(--p1-desktop-font-weight);
  line-height: var(--p1-desktop-line-height);
}

.p2-desktop {
  font-size: var(--p2-desktop-font-size);
  font-weight: var(--p2-desktop-font-weight);
  line-height: var(--p2-desktop-line-height);
}

@media screen and (max-width: 770px) {
.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 768px;
}
}
